html {
  background-color: #222222;
  padding: 40px 20px 20px 20px;
}
body {
  width: 720px;
  margin: auto;
  font-family: "Monaco";
}

h1 {
  color: #d4d4d4;
  font-family: "Avenir Next";
  font-size: 24px;
  margin: 20px auto 5px auto;
}

p {
  color: #d4d4d4;
  font-size: 14px;
  margin: 20px auto 5px auto;
 }

span.highlight
{
background-color:#E9508A
}
