html {
  background-color: #222222;
  padding: 180px 40px 40px 40px;
}

body {
  width: 720px;
  margin: auto;
  font-family: "Monaco";
}

footer {
  margin: auto;
  color: #999999;
  font-family: "Avenir Next";
  font-size: 11px;
  padding: 800px 40px 40px 40px;
}

h1 {
  color: #d4d4d4;
  font-family: "Avenir Next";
  font-size: 24px;
  margin: 20px auto 5px auto;
}

p {
  color: #d4d4d4;
  font-size: 14px;
  margin: 20px auto 5px auto;
 }

span.meituan
{
  color:#06C1AE
}

span.dribbble
{
  color:#E84F89
}

span.twitter
{
  color:#2AA3EF
}

span.mail
{
  color:#FFD552
}
