html {
  background-color: #222222;
  padding: 40px 20px 20px 20px;
}
body {
  width: 720px;
  margin: auto;
  font-family: ,"Avenir Next","Monaco", "Segoe UI", "Gill Sans", Ubuntu, sans-serif;
}

h1 {
  color: #d4d4d4;
  font-size: 24px;
  margin: 20px auto 5px auto;
}

p {
  color: #d4d4d4;
  font-size: 14px;
  margin: 20px auto 5px auto;
 }

.fi {
  display: inline-block;
  font-size: 35px;
}

p.dribbble {color:rgb(0,0,255)}

p.dribbble:hover{
	color: #F26B6B;
}
